
/* CSS comptePage.html------------------------------------------------------------------------------------------------*/
.forCompte{
    margin: 15px 0;
}

.forCompte label{
    display: inline-block;
    width: 200px;
}

#modif-button,#valid-button,#annuler-button,#accueil-button{
    width: 89px;
    background-color: black;
    color: white;
    border: transparent;
    border-radius: 3px;
    padding: 5px;
    margin-top: 12px;
    font-size: 18px;
}
#valid-button,#annuler-button{
    display: none;
}

#accueil-button{
    float: right;
    background-color: red;
    width: 185px !important;

}

.statut{
width: 200px;
}

.aletre_carte{
    display: none;
    color: red;
    font-size: small;
    margin: 6px 0;
}
.container h1{
    margin-top: 20px;
}

.unitHistorique{
    border-bottom: solid 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.unitHistorique div{
    width: 300px;
}








