#{extends 'main.html' /}
#{set title:'BetClic.fr - Apropos' /}
#{set 'moreStyles'}
    #{stylesheet 'apropos.css' /}
#{/set}

<main class="container">

    <H1>À propos de nous</H1>
    <div class="ligneStylay"></div>

    <div class="imgapropos"> </div>

    <div class="pargpad">
        <p>
            <strong> Notre mission :</strong> C'est plutôt simple. Nous sommes une grande famille heureuse et nous nous concentrons sur ce que nous aimons faire.
            Un pari sportif consiste à miser de l'argent sur un évènement lors d'une rencontre sportive.
            Il existe de nombreux types de paris, dont les plus simples consistent à parier sur la victoire d'une équipe précise. Chaque pari a une cote et
            c'est elle qui permet de connaître à l'avance, en fonction de la somme misée, le montant gagné si l'évènement se produit.
        </p>

        <p>
            En notation décimale, si l'on mise 10 € sur l'équipe A dont la cote est de 1,6 par exemple :
        <ul>
            <li class="listPropos">Si A gagne, la somme récupérée est de 16€, soit un gain de + 60 % ; </li>
            <li class="listPropos"> Si A ne gagne pas, la somme misée est perdue, soit 10€.</li>
        </ul>
        </p>

        <p>
            Les paris se font en général chez des bookmakers qui sont des organismes autorisés à proposer aux joueurs de parier. Les paris sportifs étaient interdits en France jusqu'au 10 juin 2010, la veille de l'ouverture de la Coupe du monde de football.
            À compter de cette date, l'ARJEL (Autorité de Régulation des Jeux En Ligne) a été créée à la suite de la loi relative à l'ouverture à la concurrence des jeux d'argent et de hasard en ligne1. Elle est chargée de réguler le marché et distribue des agréments officiels aux opérateurs2.
            Pour plus d'informations voir ce <a href="https://fr.wikipedia.org/wiki/Pari_sportif" alt="lien wikipedia"> lien </a>.
        </p>
    </div>


    <div class="pargpad">
        <p>
            <strong> Le plan d’accès pour venir nous voir :</strong>
        </p>
        <div class="imgmaps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2592.5366723280104!2d1.108075930570604!3d49.47436866968357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e0dc5178b1dc17%3A0x68c4e44a70fc765e!2s15+All%C3%A9e+Robert+Lemasson%2C+76230+Bois-Guillaume!5e0!3m2!1sfr!2sfr!4v1486549494601" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>


</main>