#{extends 'main.html' /}
#{set title:'BetClic.fr' /}
<script>
    var lien = "@{BetController.bet()}";
</script>

<main class="container principale">
    <article class="contenu">
        <a href="@{InscriptionController.inscription()}"><div class="pub">

        </div></a>

        <div class="caroussel">
            <div class="fondCarou"></div>
        </div>

        <div class="topParis">
            <nav>
                <h2 id="pariActif">Le TOP des paris sportifs</h2>
                <!--<h2>Les paris de dernière minute</h2>-->
            </nav>
            <ul class="ligneParis colonnePari">
                <li class="horraire"></li>
                <li class="infoParis"></li>
                <li class="vic">1</li>
                <li class="vic">Nul</li>
                <li class="vic">2</li>
                <li class="typePari"></li>
                <li class="stat"></li>
            </ul>
            <ul class="ligneParis">
                <li class="horraire">8 H</li>
                <li class="infoParis">
                    <p><span class="ballon"></span>Football, Coupe de France</p>
                    <p>Bordeaux - Dijon</p>
                </li>
                <li class="vic">1.58</li>
                <li class="vic">3.80</li>
                <li class="vic">5.50</li>
                <li class="typePari">+76</li>
                <li class="stat">
                    <a href="#"><img src="@{'/public/images/stats.png'}"></a>
                </li>
            </ul>
            <ul class="ligneParis">
                <li class="horraire">8 H</li>
                <li class="infoParis">
                    <p><span class="ballon"></span>Football, Coupe de France</p>
                    <p>Bordeaux - Dijon</p>
                </li>
                <li class="vic">1.58</li>
                <li class="vic">3.80</li>
                <li class="vic">5.50</li>
                <li class="typePari">+76</li>
                <li class="stat">
                    <a href="#"><img src="@{'/public/images/stats.png'}"></a>
                </li>
            </ul>
            <ul class="ligneParis">
                <li class="horraire">8 H</li>
                <li class="infoParis">
                    <p><span class="ballon"></span>Football, Coupe de France</p>
                    <p>Bordeaux - Dijon</p>
                </li>
                <li class="vic">1.58</li>
                <li class="vic">3.80</li>
                <li class="vic">5.50</li>
                <li class="typePari">+76</li>
                <li class="stat">
                    <a href="#"><img src="@{'/public/images/stats.png'}"></a>
                </li>
            </ul>
            <ul class="ligneParis">
                <li class="horraire">8 H</li>
                <li class="infoParis">
                    <p><span class="ballon"></span>Football, Coupe de France</p>
                    <p>Bordeaux - Dijon</p>
                </li>
                <li class="vic">1.58</li>
                <li class="vic">3.80</li>
                <li class="vic">5.50</li>
                <li class="typePari">+76</li>
                <li class="stat">
                    <a href="#"><img src="@{'/public/images/stats.png'}"></a>
                </li>
            </ul>
            <ul class="ligneParis">
                <li class="horraire">8 H</li>
                <li class="infoParis">
                    <p><span class="ballon"></span>Football, Coupe de France</p>
                    <p>Bordeaux - Dijon</p>
                </li>
                <li class="vic">1.58</li>
                <li class="vic">3.80</li>
                <li class="vic">5.50</li>
                <li class="typePari">+76</li>
                <li class="stat">
                    <a href="#"><img src="@{'/public/images/stats.png'}"></a>
                </li>
            </ul>

        </div>

        <div class="nowIn">
            <h3 class="titre3">En ce moment sur Betclic :</h3>
            <div class="ligneStylay"></div>
            <ul class="nowInUl flexStyleH">
                <li id="box1"></li>
                <li id="box2"></li>
            </ul>
        </div>

    </article>


    <aside class="aCote">
        <!--<h3 class="titre3">Recherchez un pari sportif :</h3>
        <div class="ligneStylay"></div>
        <form action="html/paris.html">
            <input class="recherche" type="search" placeholder="Indiquez votre requête">
        </form>-->

        <h3 class="titre3">Top 5 des paris combinés</h3>
        <div class="ligneStylay"></div>

        <div class="topCombine">
            <ul>
                <li>
                    <span class="medaille"></span>
                    <span class="spanDetail">
                            <p><span class="nomVic">Mathieu P.</span><span class="gain">26 000 €</span></p>
                            <p><span>pari: 10 €</span><span>Cote: 1751,01</span></p>
                        </span>
                </li>
                <li>
                    <span class="medaille"></span>
                    <span class="spanDetail">
                            <p><span class="nomVic">Mathieu P.</span><span class="gain">26 000 €</span></p>
                            <p><span>pari: 10 €</span><span>Cote: 1751,01</span></p>
                        </span>
                </li>
                <li>
                    <span class="medaille"></span>
                    <span class="spanDetail">
                            <p><span class="nomVic">Mathieu P.</span><span class="gain">26 000 €</span></p>
                            <p><span>pari: 10 €</span><span>Cote: 1751,01</span></p>
                        </span>
                </li>
                <li>
                    <span class="medaille"></span>
                    <span class="spanDetail">
                            <p><span class="nomVic">Mathieu P.</span><span class="gain">26 000 €</span></p>
                            <p><span>pari: 10 €</span><span>Cote: 1751,01</span></p>
                        </span>
                </li>
                <li>
                    <span class="medaille"></span>
                    <span class="spanDetail">
                            <p><span class="nomVic">Mathieu P.</span><span class="gain">26 000 €</span></p>
                            <p><span>pari: 10 €</span><span>Cote: 1751,01</span></p>
                        </span>
                </li>
            </ul>
        </div>

        <div class="pubNav"></div>
        <h3 class="titre3">Parier avec Betclic !</h3>
        <div class="ligneStylay"></div>
        <div class="moreInfo">
            <p>Retrouvez les meilleurs paris sportif à tout moment sur betclic !<br>
                <a href="#">En savoir plus sur le paris en ligne !</a>
            </p>

        </div>
    </aside>

</main>