
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js ie"><![endif]-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>#{get 'title' /}</title>
    <meta name="apple-mobile-web-app-title" content="Presentation of my company | My Site">
    <meta name="application-name" content="Presentation of my company | My Site">
    <meta property="og:title" content="Presentation of my company | My Site">
    <meta property="twitter:title" content="Presentation of my company | My Site">

    <meta name="description" content="Description about my page in 160 characters">
    <meta name="msapplication-tooltip" content="Description about my page in 160 characters">
    <meta property="og:description" content="Description about my page in 160 characters">
    <meta property="twitter:description" content="Description about my page in 160 characters">

    <link rel="image_src" href="http://www.mysite.com/images/my-site-presentation.png">
    <meta property="twitter:image" content="http://www.mysite.com/images/my-site-presentation.png">
    <meta property="og:image" content="http://www.mysite.com/images/my-site-presentation.png">

    <meta property="og:url" content="http://www.mysite.com/about-us">
    <meta property="twitter:url" content="http://www.mysite.com/about-us">
    <link rel="canonical" href="http://www.mysite.com/about-us">

    <meta property="og:article:published_time" content="16/08/2016">
    <meta name="date" content="16/08/2016">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="My site">

    <meta property="og:article:publisher" content="https://www.facebook.com/My-Company">
    <meta property="twitter:site" content="@MyCompnay">
    <meta property="twitter:creator" content="@MyCompnay">
    <meta name="author" content="http://www.mysite.com">

    <meta property="twitter:card" content="photo">

    <meta name="geo.placename" content="Rouen">
    <meta name="geo.region" content="fr">

    <meta name="copyright" content="©2016 My site | all rights reserved">

    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    #{get 'moreStyles' /}
    <!--<script src="lib/jquery/jquery-1.12.4.min.js"></script>-->
</head>
    <body>
    <div class="risqueJouer">
        <ul class="container">
            <li class="risqueLi">
                <p>Lundi 23 Jan 2017 <br> 09:21</p>
            </li>
            <li class="risqueTitre">
                <h2>FAMILLE, VIE SOCIALE,SANT&Eacute; FINANCI&Egrave;RE. ETES-VOUS PR&Ecirc;T &Agrave; TOUT MISER?<br>
                    POUR &Ecirc;TRE AID&Eacute;,APPELEZ LE 09-74-75-13-13 </h2>
                <p>(APPEL NON SURTAX&Eacute;)</p>
            </li>
            <li class="risqueLi">
                <p>LES JEUX D'ARGENT <br>ET DE HASARD SONT <br>INTERDITS AUX MINEURS</p>
            </li>
        </ul>
    </div>

    <header class="container">

        <ul class="flexStyleH headSite">
            <li>
                <a href="@{Application.index()}" class="logo"><img src="@{'/public/images/logo.png'}" alt="logo"></a>
            </li>
            <li>
                <ul class="flexStyleH miniMenu">
                    <li>
                        <a href="@{ContactController.contact()}">Contactez Nous</a>
                    </li>
                    <li>
                        <a href="./">Suivez Nous</a>
                    </li>
                    <li>
                        <a href="./">Mobile</a>
                    </li>
                </ul>
            </li>
            #{if controllers.secure.BetClicSecure.Security.isConnected() && connectedUser}
                <li>
                    <p>Bienvenue ${connectedUser.firstname} ${connectedUser.lastname} </p>
                    <p>Votre solde : ${connectedUser.solde} €</p>
                    <p><a href="@{CompteController.compte()}">Mon compte</a></p>
                    <p><a href="@{secure.BetClicSecure.logout()}">Se déconnecter</a></p>
                </li>
            #{/if}

            #{else}
            <li class="liForm">

                <div class="formulaire">
                    #{form @secure.BetClicSecure.authenticate()}
                        <div class="triche">
                            <input class="pseudo" id="pseudoS" type="text" name="username" placeholder="Pseudo" required>
                            <a href="#" class="lienForm"><i><u>oublié?</u></i></a>
                        </div>
                        <span class="triche pass">
                        <input class="password" id="passwordS" type="password" name="password" placeholder="Mot de passe" required>
                        <a href="#" class="lienForm"><i><u>oublié?</u></i></a>
                         </span>
                        <input type="submit" value="OK" id=okS" class="ok">
                    #{/form}
                </div>
                <p class="paraInscription">Crée un Compte? <a href="@{InscriptionController.inscription()}" class="lienForm"><u>Inscrivez Vous</u></a></p>

            </li>
            #{/else}

        </ul>
        <div class="menuMobile">
            <a href="#" class="menuMBouton"> <i class="material-icons menuClic">menu</i></a>
        </div>
    </header>

    <div class="shadow"></div>
    <nav class="menuLateral">
        <h2 class="titre2Lat" id="titreCoo">Connexion</h2>
        <div class="liForm">
            <form class="formulaire">
                <div class="triche">
                    <input class="pseudo" type="text" name="Pseudo" id="pseudoM" placeholder="Pseudo">
                    <a href="#"><i><u>oublié?</u></i></a>
                </div>
                <span class="triche pass">
                            <input class="password" id="passwordM" type="password" name="password" placeholder="Mot de passe">
                            <a href="#"><i><u>oublié?</u></i></a>
                        </span>
                <!--<input type="submit" value="OK" class="ok"> -->
                <a href="#" class="ok" id="okM">OK</a>
            </form>
            <p class="paraInscription">Crée un Compte? <a href="./html/inscription.html"><u>Inscrivez Vous</u></a></p>
        </div>
        <div class="ligneStylay"></div>
        <h2 class="titre2Lat">Navigation</h2>
        <ul class="listeMenuMob">
            <li>
                <a href="@{Application.index()}"><i>ACCEUIL</i></a>
            </li>
            <li>
                <a href="@{BetController.bet()}"><i>PARI</i></a>
            </li>
            <li>
                <a href="@{ContactController.contact()}"><i>CONTACT</i></a>
            </li>
            <li>
                <a href="@{AproposController.apropos()}"><i>A PROPOS</i></a>
            </li>
        </ul>
    </nav>


    <nav class="menu">
        <ul class="container flexStyleH menuBande">
            <li id="menuActif" class="noMob">
                <a href="@{Application.index()}"><i>ACCEUIL</i></a>
            </li>
            <li class="noMob">
                <a href="@{BetController.bet()}"><i>PARI</i></a>
            </li>
            <li class="noMob">
                <a href="@{ContactController.contact()}"><i>CONTACT</i></a>
            </li>
            <li class="noMob">
                <a href="@{AproposController.apropos()}"><i>A PROPOS</i></a>
            </li>
            <li id="responSearch_700px">
                <form action="@{BetController.bet()}" method="get">
                    <input id="responSearch" type="search" name="search" placeholder="Recherchez un pari sportif">
                </form>
            </li>
        </ul>
    </nav>

        #{doLayout /}

    <footer>
        <section>
            <ul class="megaMenu container">
                <li><a href="./">Aide</a></li>
                <li><a href="./">Ambassadeur & Partenaire</a></li>
                <li><a href="./">Contact</a></li>
                <li><a href="./">&Agrave; Propos de Betclic</a></li>
                <li><a href="./">Recrutement</a></li>
                <li><a href="./">Conditions Général d'utilisation</a></li>
                <li><a href="./">Respect de la Vie Privée et Cookies</a></li>
                <li><a href="./">Jeu responsable</a></li>
                <li><a href="./">Bonnes pratiques</a></li>
                <li><a href="./">Presse</a></li>
                <li><a href="./">Affiliation</a></li>
            </ul>

            <H2 class="container titreDico">BetClic : le N°1 des paris Sportif</H2>
            <p class="container dico">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla
                ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles,
                mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960
                grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment,
                par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
            <div class="btnDicoMob"><i class="material-icons handCursor">vertical_align_bottom</i></div>
        </section>
    </footer>
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    #{get 'moreScripts' /}
    </body>
</html>
